$color-map: (
    // Font color
    --color-ft-white: #fff,
    --color-ft-dark: #000,
    --color-ft-dark2: #1a1a1a,
    --color-ft-gray: #ccc,
    --color-ft-gray2: #aaa,
    --color-ft-dark-gray: #333,
    --color-ft-light-gray2: #b9b9b9,
    --color-ft-dark-red: #c41e20

    // Background color
    --color-bg-white: #fff,
    --color-bg-dark2: #1a1a1a,
    --color-bg-trans: transparent,
    --color-bg-light-gray: #e5e5e5,
    --color-bg-dark-gray: #333,
    --color-bg-dark-gray2: #606060,
    --color-bg-red: #ff0000,
)