// @use '../abstracts/absForward' as a;

.header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.3s;
    box-sizing: border-box;
    z-index: 21;
    min-width: 1240px;

    &.mo {
        display: none;
    }

    &.on {
        background-color: #fff;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #e5e5e5;
            z-index: -1;
        }
        .gnb {
            z-index: 10;
            >ul {
                >li {
                    >a {
                        color: #333;
                        transition: all 0.3s;
                        position: relative;
                        overflow: hidden;

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -1px;
                            left: 0;
                            width: 100%;
                            height: 3px;
                            background-color: #333;
                            opacity: 0;
                            transition: opacity 0.3s, transform 0.3s;
                            transform: translate3d(-100%, 0, 0);
                        }

                        &:hover {
                            &::after {
                                opacity: 1;
                                transform: translate3d(0, 0, 0);
                            }
                        }

                        &.on {
                            color: #ccc;
                        }
                    }
                }
            }
        }

        .top_wh {
            display: none;
        }

        .top_bk {
            display: block;
        }

        .hRight {
            >ul {
                >li {
                    a {
                        .counter {
                            color: #000;
                        }
                    }
                }
            }
        }
    }

    &.sub {
        position: fixed;
        background-color: #fff;
    }
}

.hWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1580px;
    margin: 0 auto;
    padding: 0 10px;

    .hLeft {
        display: flex;
        align-items: center;
    }
}

.gnb {
    margin-left: 35px;
    text-transform: uppercase;

    >ul {
        display: flex;
        align-items: center;

        li {
            padding: 0 20px;

            >a {
                color: #fff;
                font-weight: bold;
                transition: all 0.3s;
                height: 98px;
                line-height: 98px;
                display: block;
                box-sizing: border-box;
            }
        }
    }
}

.hRight {
    >ul {
        display: flex;
        align-items: center;

        >li {
            &:first-child {
                a {
                    margin-left: 0;

                }

                &.btn_login.on {
                    a {
                        position: relative;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 5px;
                            height: 5px;
                            background: red;
                            border-radius: 50%;
                        }
                    }
                }
            }

            >a {
                margin-left: 30px;
                display: block;
                position: relative;

                .counter {
                    font-size: 12px;
                    color: #fff;
                    position: absolute;
                    top: 60%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-weight: bold;
                }
            }
        }
    }
}

.top_bk {
    display: none;
}